[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = "*"
langchain-openai = "*"
tavily-python = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-mistralai = "*"
pandas = "*"
langchain-experimental = "*"
matplotlib = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
